<% if flash[:notice] %>
<p id="headertext"><%= flash[:notice] %></p>

<% else %>

<p id="headertext">WILL YOU START THE FANS PLEASE?</p>

<% end %>

<% if @current_user == nil %>

<p id="headertext" style="margin-bottom: 0.7em">// <a href="/sign_in">SIGN-IN</a> // <a href="/user_reg">REGISTER</a></p>

<% else %>

<p id="headertext" style="margin-bottom: 0.7em">// <a href="/peep">POST</a> // <a href="/sign_out">SIGN-OUT</a></p>

<% end %>

<div class="content">
<ul id="posts">
<% @posts.reverse.each do |post| %>
<li>
<p>
POST: <%= post.message %>
</p>
<p>
CONTRIBUTOR: <%= post.user.name %>
</p>
<p>
CONTRIBUTOR USER-NAME: <%= post.user.username %>
</p>
<p>
TIME OF POST: <%= post.time.to_time.strftime("%H:%M%p") %> 
</p>
<p>
DATE OF POST: <%= post.time.to_date.strftime("%D") %> 
</p>
<hr class="divide" style="height:1px;color:gray">
</li>
<% end %>
</ul></div>

<script>

  $(document).ready(function(){

    $('.content li').on('mouseenter', function() {
      $(this).animate({opacity: 1}, 800);
    });

    $('.content li').on('mouseleave', function() {
      $(this).animate({opacity: 0.4}, 800);
    });

    });
      
</script>